#relatedLinks{
    background-color: #060822;
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 2em;
    column-gap: 1em;
    row-gap: 1em;
}

.footerLinksContainer h3{
    color: #ffa500;
    font-weight: 500;
    margin-bottom: 1em;
}

.footerLinksContainer ul{
    list-style-type: none;
    color: #ccc;
    font-size: 0.9em;
}

.footerLinksContainer li{
    margin-bottom: 1em;
}