#relatedLinks{
    background-color: #060822;
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 2em;
    column-gap: 1em;
    row-gap: 1em;
}


.footerLinksContainer{
    color: white;
}
.footerLinksContainer h3{
    color: #ffa500;
    font-weight: 500;
    margin-bottom: 1em;
}

.footerLinksContainer > li{
    color: #ccc;
}