#relatedLinks{
    background-color: #060822;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em;
    column-gap: 1em;
    row-gap: 1em;
}

.footerLinksContainer{
    height: fit-content;
}

.footerLinksContainer h3{
    font-size: 1.2em;
    color: #ffa500;
    font-weight: 500;
    margin-bottom: 1em;
    line-height: 1.2;
}

.footerLinksContainer ul{
    list-style-type: none;
    color: #ccc;
    font-size: 0.9em;
}

.footerLinksContainer li{
    margin-bottom: 0.6em;
}

#footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

#copyrightText{
    padding-left: 1rem;
}

.iconLinks{
    text-decoration: none;
}

.icons{
    height: 1.85rem;
}